<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Loop</title>
    <style>table th, table td {padding: 5px;}</style>
</head>

<body>
<h1>Меню редактирования авторов</h1>
<h2>Создайте нового автора</h2>
<form th:action="@{/Authors/addAuthor}" th:object="${newAuthor}" method="post">

    firstName:
    <label>
        <td><input type="text" th:field="${newAuthor.firstName}" th:value="${newAuthor.firstName}" /></td>
    </label>
    <br />
    lastName:
    <label>
        <td><input type="text" th:field="${newAuthor.lastName}" th:value="${newAuthor.lastName}" /></td>
    </label>
    <br />

    <input type="submit" value="Отправить">
</form>

<h2>Поиск автора по фамилии</h2>
<form action="/Authors/searchAuthor" method="get">
    Author lastName:
    <label>
        <input type="text" name="lastName">
    </label>
    <br />
    <input type="submit" value="Отправить">
</form>

<h1>Список Авторов</h1>

<table border="1">
    <tr>
        <th>Author ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Delete Client</th>
        <th>Update Client</th>
    </tr>

    <tr th:each="authors : ${allAuthors}">
        <td th:text="${authors.authorId}">Author ID</td>
        <td th:text="${authors.firstName}">Name</td>
        <td th:text="${authors.lastName}">Last Name</td>
        <td>
            <a th:href="@{/Authors/deleteAuthor/__${authors.authorId}__}"><button type="submit">Delete</button></a>
        </td>
        <td>
            <a th:href="@{/Authors/updateAuthor1/__${authors.authorId}__}"><button type="submit">Update</button></a>
        </td>
    </tr>

</table>
<br>
<button onclick="location.href='/dataEditing.html'">Назад</button>
</body>

</html>