<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавьте</title>
</head>
<body>
<h2>Создайте нового клиента</h2>
<form action="/Library/RegistrationServlet" method="post">

id:
    <label>
        <input type="text" name="id">
    </label>
    <br />
firstName:
    <label>
        <input type="text" name="firstName">
    </label>
    <br />
lastName:
    <label>
        <input type="text" name="lastName">
    </label>
    <br />

<input type="submit" value="Отправить">
    </form>
<button onclick="location.href='./clientEditing.html'">Назад</button>
</body>
</html>