<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Loop</title>
    <style>table th, table td {padding: 5px;}</style>
</head>

<body>

<h1>Результат поиска</h1>

<table border="1">
    <tr>
        <th>Client ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Delete Client</th>
        <th>Update Client</th>
    </tr>

    <tr th:each="client : ${searchClients}">
        <td th:text="${client.clientId}">Client ID</td>
        <td th:text="${client.firstName}">Name</td>
        <td th:text="${client.lastName}">Last Name</td>
        <td>
            <a th:href="@{/Client/deleteClient/__${client.clientId}__}"><button type="submit">Delete</button></a>
        </td>
        <td>
            <a th:href="@{/Client/updateClient1/__${client.clientId}__}"><button type="submit">Update</button></a>
        </td>
    </tr>

</table>

</body>

</html>