<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аккаунты</title>
</head>
<body>
<div>
    <h1>Добро пожаловать в меню редактирования аккаунтов</h1>
</div>
<button onclick="location.href='addAccount.html'">Добавить аккаунт </button>
<br>
<button onclick="location.href='deleteAccount.html'">Удалить аккаунт </button>
<br>
<button onclick="location.href='updateAccount.html'">Изменить аккаунт</button>
<br>
<button onclick="location.href='searchAccount.html'">Поиск аккаунт</button>
<br>
<button onclick="location.href='../dataEditing.html'">Назад</button>
</body>
</html>