<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Добавьте новый аккаунт</h2>
<form action="/Library/AddAccountServ" method="post">

    Account Id:
    <label>
        <input type="text" name="accountId">
    </label>
    <br />
    Client Id:
    <label>
        <input type="text" name="clientId">
    </label>
    <br />
    Book Id:
    <label>
        <input type="text" name="bookId">
    </label>
    <br />
    Return Date (date format: yyyy.MM.dd):
    <label>
        <input type="text" name="date">
    </label>
    <br />
    Status:
    <label>
        <input type="text" name="status">
    </label>

    <input type="submit" value="Отправить">
</form>
<button onclick="location.href='./accountEditing.html'">Назад</button>
</body>
</html>