<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Обновите существующий аккаунт</h2>
<form action="/Accounts/updateAccount" method="post">

    Account Id:
    <label>
        <input type="text" name="accountId">
    </label>
    <br />
    Client Id:
    <label>
        <input type="text" name="clientId">
    </label>
    <br />
    Book Id:
    <label>
        <input type="text" name="bookId">
    </label>
    <br />
    Receipt Date:
    <label>
        <input type="date" name="date">
    </label>
    <br />
    Return Date:
    <label>
        <input type="date" name="date">
    </label>
    <br />
    Status:
    <label>
        <input type="text" name="status">
    </label>

    <input type="submit" value="Отправить">
</form>
<button onclick="location.href='accountEditing.html'">Назад</button>
</body>
</html>