<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
</head>
<body>
<div>
    <h1>_________ДОБРО ПОЖАЛОВАТЬ В ГЛАВНОЕ МЕНЮ_________!</h1>
</div>

<div>       <!-- content -->
    <div>    <!-- buttons holder -->
        <button onclick="location.href='/dataEditing.html'">Редактирование данных</button>
        <br>
        <button onclick="location.href='/Books/returnAllBooks'">Показать все доступные книги </button>
        <br>
        <button onclick="location.href='../../books/howToSearch.html'">Найти книгу </button>
        <br>
        <button onclick="location.href='clientCheck.html'">Выдать книгу </button>
        <br>
    </div>
</div>
</body>
</html>