<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<h2>Сначала выберите способ поиска книги</h2>
<form action="/Library/SearchBookServ" method="get">
    <input type="radio" name="searchMethod" value="byId" checked> Search by Id<br>
    <input type="radio" name="searchMethod" value="byAuthor"> Search by author<br>
    <input type="radio" name="searchMethod" value="byName"> Search by book name<br>
<h2>Затем введите соответствующий ключ поиска.</h2><br>
    <label>
        <input type="text" name="key">
    </label>
    <br>
    <input type="submit" value="Отправить">
</form>
<button onclick="location.href='./mainMenu.html'">Назад</button>
</body>
</html>