<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторы</title>
</head>
<body>
<div>
    <h1>Добро пожаловать в меню редактирования авторов</h1>
</div>
<button onclick="location.href='addAuthor.html'">Добавить автора </button>
<br>
<button onclick="location.href='deleteAuthor.html'">Удалить автора </button>
<br>
<button onclick="location.href='updateAuthor.html'">Изменить автора</button>
<br>
<button onclick="location.href='searchAuthor.html'">Поиск автора</button>
<br>
<button onclick="location.href='../dataEditing.html'">Назад</button>
</body>
</html>