<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Обновите существующего автора</h2>
<form action="/Library/UpdateAuthorServ" method="post">
   Author id:
    <label>
        <input type="text" name="authorId">
    </label>
    <br />
    Author firstName:
    <label>
        <input type="text" name="firstName">
    </label>
    <br />
    Author lastName:
    <label>
        <input type="text" name="lastName">
    </label>
    <br />

    <input type="submit" value="Отправить">
</form>
<button onclick="location.href='./authorEditing.html'">Назад</button>
</body>
</html>